In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

ModuleNotFoundError: No module named 'pandas'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
file = "/content/drive/My Drive/Colab Notebooks/corrupted_titanic_data.csv"
df = pd.read_csv(file)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_cleaned = df.dropna()
df_cleaned.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,pclass_redundant,fare_age_combination
3,1,1,female,420.0,1,0,53.284868,S,First,woman,False,C,Southampton,yes,False,1,22379.644511
6,0,1,male,54.0,0,0,51.314334,S,First,man,True,E,Southampton,no,True,1,2770.974017
21,1,2,male,34.0,0,0,13.553364,s,Second,man,True,D,Southampton,yes,True,2,460.814361
27,0,1,male,19.0,3,2,263.176986,s,First,man,True,C,Southampton,no,False,1,5000.362740
88,1,1,FEMALE,23.0,3,2,262.789833,C,First,woman,False,C,Southampton,yes,False,1,6044.166161

In [ ]:
columns_to_drop = [    "class", "who", "adult_male", "deck", "embark_town", "alive", "alone", "pclass_redundant", "fare_age_combination"]
df_cleaned_dropped = df_cleaned.drop(columns=columns_to_drop, errors='ignore')
df_cleaned_dropped.head()

    survived  pclass     sex    age  sibsp  parch        fare embarked
3          1       1  female  420.0      1      0   53.284868        S
6          0       1    male   54.0      0      0   51.314334        S
21         1       2    male   34.0      0      0   13.553364        s
27         0       1    male   19.0      3      2  263.176986        s
88         1       1  FEMALE   23.0      3      2  262.789833        C

In [ ]:
df_cleaned_dropped['age'] = df_cleaned_dropped['age'].fillna(df_cleaned_dropped['age'].median())
df_cleaned_dropped['fare'] = df_cleaned_dropped['fare'].fillna(df_cleaned_dropped['fare'].median())
df_cleaned_dropped['embarked'] = df_cleaned_dropped['embarked'].fillna(df_cleaned_dropped['embarked'].mode()[0])
df_cleaned_dropped = df_cleaned_dropped[df_cleaned_dropped["age"] <= 100]

print(df_cleaned_dropped.head())

    survived  pclass     sex   age  sibsp  parch        fare embarked
6          0       1    male  54.0      0      0   51.314334        S
21         1       2    male  34.0      0      0   13.553364        s
27         0       1    male  19.0      3      2  263.176986        s
88         1       1  FEMALE  23.0      3      2  262.789833        C
96         0       1    male  71.0      0      0   34.994854        S

In [ ]:
df_cleaned_dropped['sex'] = df_cleaned_dropped['sex'].astype(str).str.lower()
label_encoder = LabelEncoder()
df_cleaned_dropped['sex'] = label_encoder.fit_transform(df_cleaned_dropped['sex'])

df_cleaned_dropped['embarked'] = label_encoder.fit_transform(df_cleaned_dropped['embarked'])
print(df_cleaned_dropped.head())

    survived  pclass  sex   age  sibsp  parch        fare  embarked
6          0       1    1  54.0      0      0   51.314334         2
21         1       2    1  34.0      0      0   13.553364         5
27         0       1    1  19.0      3      2  263.176986         5
88         1       1    0  23.0      3      2  262.789833         0
96         0       1    1  71.0      0      0   34.994854         2

In [ ]:
X = df_cleaned_dropped.drop(columns=['survived'])
y = df_cleaned_dropped['survived']

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42, stratify=y
)
model = LogisticRegression(random_state=42, max_iter=1000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

print("\nClassification Report:")
print(class_report)

print("\nConfusion Matrix:")
print(conf_matrix)

Accuracy: 0.80

Classification Report:
              precision    recall  f1-score   support

           0       0.60      0.75      0.67         4
           1       0.90      0.82      0.86        11

    accuracy                           0.80        15
   macro avg       0.75      0.78      0.76        15
weighted avg       0.82      0.80      0.81        15


Confusion Matrix:
[[3 1]
 [2 9]]